# 빌드 결과물 무시
/dist/
/frontend/node_modules/
/frontend/.next/
/backend/build/
/backend/.gradle/

/backend/gradle-temp/
/backend/gradle-8.7/
/backend/new-backend.zip
/backend/gradle-8.7-bin.zip
/backend.zip

# 로그 파일 무시
*.log
*.class

# OS 또는 IDE 관련 파일 무시
.DS_Store
.idea/
.vscode/

# 환경 설정 파일 무시
.env